.sub-footer {
	border-top: 1px solid $fw-400;
	text-align: $ta;
}
.sub-footer p {
	font-size: 12px;
	color: $color-09;
	line-height: 60px;
}
.sub-footer a {
	color: $color-03;
	text-decoration: none;
}