$color-01: #4a4a4a;
$color-02: #fff;
$color-03: #3a8bcd;
$color-04: #eee;
$color-05: rgba(250,250,250,0.9);
$color-06: #1e1e1e;
$color-07: #aaa;
$color-08: #ff4901;
$color-09: #7a7a7a;
$color-10: #F00;
$color-11: rgba(0,0,0,0.1);
$ff: sans-serif;
$ta: center;
$tc: center;
$tl: left;
$tr: right;
$mt-0px: 0px;
$mt-10px: 10px;
$mt-15px: 15px;
$mt-20px: 20px;
$mt-30px: 30px;
$mt-50px: 50px;
$mt-60px: 60px;
$mt-80px: 80px;
$mt-130px: 130px;
$mb-0px: 0px;
$mb-15px: 15px;
$mb-20px: 20px;
$mb-30px: 30px;
$mb-40px: 40px;
$mb-60px: 60px;
$mb-70px: 70px;
$mb-80px: 80px;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
$dib: inline-block;
$ts: all 0.5s;
$tt: uppercase;